<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Login</h1>

    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>
    </form>

    <div class="actions">
        <a class="btn btn-secondary" href="{{ url_for('auth.register') }}">Register</a>
        <a class="btn btn-secondary" href="{{ url_for('posts.index') }} ">Back</a>
    </div>
</div>

</body>
</html>
